!!!
/
  Spectral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Spectral by HTML5 UP
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    %noscript
      %link{:href => "assets/css/noscript.css", :rel => "stylesheet"}/
  %body.landing.is-preload
    / Page Wrapper
    #page-wrapper
      / Header
      %header#header.alt
        %h1
          %a{:href => "index.html"} Spectral
        %nav#nav
          %ul
            %li.special
              %a.menuToggle{:href => "#menu"}
                %span Menu
              #menu
                %ul
                  %li
                    %a{:href => "index.html"} Home
                  %li
                    %a{:href => "generic.html"} Generic
                  %li
                    %a{:href => "elements.html"} Elements
                  %li
                    %a{:href => "#"} Sign Up
                  %li
                    %a{:href => "#"} Log In
      / Banner
      %section#banner
        .inner
          %h2 Spectral
          %p
            Another fine responsive
            %br/
            site template freebie
            %br/
            crafted by
            = succeed "." do
              %a{:href => "http://html5up.net"} HTML5 UP
          %ul.actions.special
            %li
              %a.button.primary{:href => "#"} Activate
        %a.more.scrolly{:href => "#one"} Learn More
      / One
      %section#one.wrapper.style1.special
        .inner
          %header.major
            %h2
              Arcu aliquet vel lobortis ata nisl
              %br/
              eget augue amet aliquet nisl cep donec
            %p
              Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
              %br/
              fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
          %ul.icons.major
            %li
              %span.icon.fa-gem.major.style1
                %span.label Lorem
            %li
              %span.icon.fa-heart.major.style2
                %span.label Ipsum
            %li
              %span.icon.solid.fa-code.major.style3
                %span.label Dolor
      / Two
      %section#two.wrapper.alt.style2
        %section.spotlight
          .image
            %img{:alt => "", :src => "images/pic01.jpg"}/
          .content
            %h2
              Magna primis lobortis
              %br/
              sed ullamcorper
            %p
              Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
              aenean mi ligula.
        %section.spotlight
          .image
            %img{:alt => "", :src => "images/pic02.jpg"}/
          .content
            %h2
              Tortor dolore feugiat
              %br/
              elementum magna
            %p
              Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
              aenean mi ligula.
        %section.spotlight
          .image
            %img{:alt => "", :src => "images/pic03.jpg"}/
          .content
            %h2
              Augue eleifend aliquet
              %br/
              sed condimentum
            %p
              Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam
              aenean mi ligula.
      / Three
      %section#three.wrapper.style3.special
        .inner
          %header.major
            %h2 Accumsan mus tortor nunc aliquet
            %p
              Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend
              %br/
              fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
          %ul.features
            %li.icon.fa-paper-plane
              %h3 Arcu accumsan
              %p
                Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
                consequat consequat.
            %li.icon.solid.fa-laptop
              %h3 Ac Augue Eget
              %p
                Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
                consequat consequat.
            %li.icon.solid.fa-code
              %h3 Mus Scelerisque
              %p
                Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
                consequat consequat.
            %li.icon.solid.fa-headphones-alt
              %h3 Mauris Imperdiet
              %p
                Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
                consequat consequat.
            %li.icon.fa-heart
              %h3 Aenean Primis
              %p
                Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
                consequat consequat.
            %li.icon.fa-flag
              %h3 Tortor Ut
              %p
                Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula
                consequat consequat.
      / CTA
      %section#cta.wrapper.style4
        .inner
          %header
            %h2 Arcue ut vel commodo
            %p Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.
          %ul.actions.stacked
            %li
              %a.button.fit.primary{:href => "#"} Activate
            %li
              %a.button.fit{:href => "#"} Learn More
      / Footer
      %footer#footer
        %ul.icons
          %li
            %a.icon.brands.fa-twitter{:href => "#"}
              %span.label Twitter
          %li
            %a.icon.brands.fa-facebook-f{:href => "#"}
              %span.label Facebook
          %li
            %a.icon.brands.fa-instagram{:href => "#"}
              %span.label Instagram
          %li
            %a.icon.brands.fa-dribbble{:href => "#"}
              %span.label Dribbble
          %li
            %a.icon.solid.fa-envelope{:href => "#"}
              %span.label Email
        %ul.copyright
          %li © Untitled
          %li
            Design:
            %a{:href => "http://html5up.net"} HTML5 UP
          %li
            Distributed by:
            %a{:href => "https://themewagon.com"} ThemeWagon
    / Scripts
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/jquery.scrollex.min.js"}
    %script{:src => "assets/js/jquery.scrolly.min.js"}
    %script{:src => "assets/js/browser.min.js"}
    %script{:src => "assets/js/breakpoints.min.js"}
    %script{:src => "assets/js/util.js"}
    %script{:src => "assets/js/main.js"}
